@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

ol,
ul,
li {
    list-style-type: none;
}

cursor {
    cursor: pointer;
}

.container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100px;
    background-color: aliceblue;
}

.menu-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
}

nav {
    position: relative;
}

.menu-list {
    position: absolute;
    left: -600px;
    top: 10px;
    text-align: center;
    display: flex;
}

.menu>a {
    display: block;
    padding: 10px 30px;
    background-color: rgb(148, 214, 216);
    width: 160px;
}


.menu:hover>a {
    background-color: darkcyan;
}

.sub-menu-list {
    position: relative;
    z-index: 5;
    display: none;
}

.sub-menu>a {
    display: block;
    padding: 10px 30px;
    background-color: rgb(240, 240, 240);
}

.sub-menu:hover>a {
    background-color: rgb(167, 189, 228);
}

.menu-bg {
    width: 100%;
    height: 160px;
    position: fixed;
    left: 0;
    top: 100px;
    background-color: rgb(240, 240, 240);
    z-index: 1;
    display: none
}

.slide-sec {
    width: 100%;
    height: 300px;
    /* background-color: aqua; */
    overflow: hidden;
}

.slide-wrap {
    width: 100%;
    height: 100%;
}

.slide {
    width: 100%;
    height: 100%;
    background-image: url("/image/img1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide1 {
    background-image: url("/image/img1.png");
}

.slide2 {
    background-image: url("/image/img2.png");
}

.slide3 {
    background-image: url("/image/img3.png");
}