@charset "uft-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

.container {
    width: 1340px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
    align-items: center;
}

.menu-wrap {
    z-index: 10;
    position: relative;
}

.menu-list {
    display: flex;
    /* width: 800px; */
    text-align: center;
    position: absolute;
    right: 0;
}

.menu>a {
    display: block;
    padding: 10px 0;
}

.menu {
    background-color: #1b3b86;
    color: white;
    width: 150px;
    height: 100%;
    display: block;
}

.menu:hover>a {
    background-color: cadetblue;
}

.sub-menu-list {
    display: none;
}

.sub-menu>a {
    display: block;
    padding: 10px;
}

.sub-menu:hover>a {
    background-color: rgb(1, 1, 65);
}

.bottom-wrap {
    position: relative;
}

.bottom {
    position: absolute;
    width: 100%;
    top: -100px;
    z-index: 6;
}

.slide-sec {
    width: 100%;
    height: 350px;
}

.slide-wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide {
    display: block;
    z-index: 5;
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    background-image: url("../image/img1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.slide01 {
    background-image: url("../image/img1.png");
}

.slide02 {
    background-image: url("../image/img2.png");
    display: none;
}

.slide03 {
    background-image: url("../image/img3.png");
    display: none;
}

.slide a {
    position: absolute;
    width: 400px;
    display: block;
    background-color: #333;
    opacity: 0.9;
    padding: 20px;
    font-size: 30px;
    color: white;
    right: 20%;
    top: 30%;
}

.direct-sec {
    background-color: whitesmoke;
    width: 100%;
    height: 100px;
}

.direct-list {
    display: flex;
    justify-content: space-evenly;
}

.direct a {
    text-align: center;
    display: flex;
    align-items: center;
    padding: 10px;
}

.banner-sec {
    width: 100%;
    height: 200px;
    background-color: #1b3b86;
    color: white;
}

.banner-wrap>a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.banner-wrap>a img {
    width: 150px;
}

.content-sec {
    width: 100%;
    height: 300px;
    background-color: rgb(196, 196, 196);
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.notice-sec,
.gallery-sec {
    width: 48%;
}

.notice-sec h2,
.gallery-sec h2 {
    background-color: white;
    width: 120px;
    padding: 10px 5px;
    text-align: center;
    margin-bottom: 20px;
}

.notice-list {
    padding: 10px;
}

.gallery-list {
    display: flex;
    gap: 5px;
}

.notice-list li a {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}


.footer-wrap {
    position: relative;
}

.footer {
    background-color: #333;
    color: white;
    height: 120px;
    width: 100%;
    z-index: 6;
    position: absolute;
    top: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.sns-wrap {
    display: flex;
    gap: 5%;
}

.popup-wrap {
    position: relative;
}

.popup {
    width: 400px;
    background-color: white;
    padding: 30px;
    z-index: 10;
    position: absolute;
    left: 40%;
    top: 30%;
    border: 1px solid #333;
    display: none;
}

.close-btn {
    padding: 5px 10px;
}