@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    color: #333;
    background-color: #fff;
    padding-top: 100px;
    /* 헤더가 fixed인 경우 본문이 가려지지 않도록 여백 추가 */
}

button {
    cursor: pointer;
}

.container {
    width: 1200px;
    margin: 0 auto;
    /* 수정: 가로 중앙 정렬 */
    display: flex;
    /* logo와 nav를 가로 배치 */
    align-items: center;
    /* 수직 중앙 정렬 */
    justify-content: space-between;
}

.header {
    display: flex;
    align-items: center;
    height: 100px;
    /* 수정: 헤더 높이 100px */
    position: fixed;
    /* 상단에 고정하려면 유지, 고정 원치 않으면 제거 */
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #fff;
    /* 고정 시 배경 덮음 */
}


.logo>a {
    display: block;
}

.logo img {
    width: 100%;
    /* 컨테이너 너비에 맞춤 */
    height: auto;
    /* 비율 유지 */
    display: block;
    max-height: 100%;
    /* 필요시 추가 제한 */
}

.menu-list {
    display: flex;
    background-color: #333;
    color: white;
    text-align: center;
}

.menu {
    width: 200px;
    position: relative;
}

.menu:hover {
    background-color: rgb(9, 165, 48);
}

.menu>a {
    display: block;
    padding: 10px 20px;
}


.sub-menu-list {
    display: none;
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: #333;
}

.sub-menu>a {
    display: block;
    padding: 10px 20px;
}

.sub-menu>a:hover {
    background-color: blue;
}