@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    color: #333;
    background-color: #fff;
    padding-top: 100px;
    /* 헤더가 fixed인 경우 본문이 가려지지 않도록 여백 추가 */
}

button {
    cursor: pointer;
}

.container {
    width: 1200px;
    margin: 0 auto;
    /* 수정: 가로 중앙 정렬 */
    display: flex;
    /* logo와 nav를 가로 배치 */
    align-items: center;
    /* 수직 중앙 정렬 */
    justify-content: space-between;
}

.header {
    display: flex;
    align-items: center;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* margin: 0 auto; */

    z-index: 10;
    background-color: #fff;
    /* 고정 시 배경 덮음 */
}

.header-container {
    position: relative;
}

.logo>a {
    display: block;
}

.logo img {
    width: 100%;
    /* 컨테이너 너비에 맞춤 */
    height: auto;
    /* 비율 유지 */
    display: block;
    max-height: 100%;
    /* 필요시 추가 제한 */
}

.menu-list {
    display: flex;
    background-color: #333;
    /* opacity: 0.8; */
    color: white;
    text-align: center;
}

.menu {
    width: 200px;
    position: relative;
}

.menu:hover {
    background-color: rgb(9, 165, 48);
}

.menu>a {
    display: block;
    padding: 10px 20px;
}


.sub-menu-list {
    display: none;
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: #333;
    z-index: 10;
}

.sub-menu>a {
    display: block;
    padding: 10px 20px;
}

.sub-menu>a:hover {
    background-color: blue;
}

.menu-bg {
    background-color: #333;
    position: absolute;
    top: 40px;
    height: 160px;
    width: 100%;
    z-index: 0;
    /* opacity: 0.8; */
    display: none;
    ;
}

.slide-sec {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.slide-wrap {
    width: 100%;
    height: 100%;
}

.slide {

    height: 100%;
    width: 100%;
    position: relative;
}

.slide-img01 {
    background-image: url("../image/img1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.slide-img02 {
    background-image: url("../image/img2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.slide-img03 {
    background-image: url("../image/img3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide>p {
    font-size: 32px;
    font-weight: 600;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    width: 800px;
    text-align: center;
    position: absolute;
    top: 70%;
    left: 30%;
}

.contents-sec {
    width: 100%;
    display: flex;
    gap: 2%;
    ;
}

.notice-wrap {
    width: 32%;
    height: 200px;
    background-color: bisque;
}

.notice-wrap h2 {
    padding-top: 20px;
}

.notice-wrap ul>li>a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

}

.gallery-wrap {
    width: 32%;
}

.gallery-wrap h2 {
    padding-top: 20px;
    padding-left: 20px;
    ;
}

.gallery-img-wrap {
    display: flex;
    gap: 10px;
    padding: 20px;

}

.gallery-img img {
    width: 100px;
}

.direct-wrap {
    width: 32%;
    position: relative;
}

.direct-img {
    background-image: url(../image/direct.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

.direct-wrap a {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    padding: 10px 15px;
    color: white;
    ;
}

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: #333;
    color: white;
    padding: 0 20px;
}

.sns ul {
    display: flex;
    gap: 10px;
}

.popup {
    position: fixed;
    top: 30%;
    left: 30%;
    border: 1px solid #333;
    background-color: white;
    padding: 40px 36px;
    line-height: 1.5;
    width: 600px;
    display: none;
    ;
}

.close-btn {
    padding: 5px 10px;
    font-size: 16px;
}