@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    color: #333;
    background-color: #fff;
}

button {
    cursor: pointer;
}

.container {
    width: 1200px;
    margin: auto 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color:; */
    height: 200px;
}

.logo {
    height: 150px;
}

.menu-list {
    display: flex;
    background-color: #333;
    color: white;
    text-align: center;
}

.menu {
    width: 200px;
    position: relative;
}

.menu:hover {
    background-color: rgb(9, 165, 48);
}

.menu>a {
    display: block;
    padding: 10px 20px;
}


.sub-menu-list {
    display: none;
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: #333;
}

.sub-menu>a {
    display: block;
    padding: 10px 20px;
}

.sub-menu>a:hover {
    background-color: blue;
}