@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    height: 100px;
    width: 100%;
    background: skyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.menu-list {
    display: flex;
    background: white;
}

.menu {
    width: 150px;
    text-align: center;
    position: relative;
}

.menu>a {
    font-size: 16px;
    display: block;
    padding: 10px 0;
    font-weight: 500;
}

.menu:hover>a {
    background-color: aquamarine;
}

.sub-menu-list {
    position: absolute;
    width: 100%;
    background-color: white;
    display: none;
}

.sub-menu>a {
    display: block;
    font-size: 15px;
    padding: 8px 0;
}

.sub-menu:hover>a {
    background-color: aquamarine;
}

/* slide */
.slide-sec {
    height: 300px;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 300px;
}


/* contents 영역 */

.contents-sec article {
    width: 400px;
    height: 200px;
    border: 1px solid black;
}

.contents-sec {
    display: flex;
}

.tab-wrap {
    background-color: blanchedalmond;
}

.tab-menu {
    display: flex;
    background-color: aliceblue;
}

.tab-menu li a {
    display: block;
    padding: 8px 10px;
}

.notice-list li a {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.gallary-wrap {
    display: none;
}

.gallary-list {
    display: flex;
    justify-content: space-around;
}

.tab-menu li.on {
    background-color: blanchedalmond;
    font-weight: 600;
}


.banner-wrap,
.direct-wrap {
    position: relative;
}

.banner-wrap a,
.direct-wrap a {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 600;
    background-color: khaki;
    padding: 10px 20px;
}

.footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.footer-sns {
    display: flex;
    gap: 10px;
    padding-right: 20px;
}

.popup {
    position: fixed;
    width: 500px;
    padding: 20px;
    border: 1px solid black;
    left: 30%;
    top: 30%;
    background-color: white;
    text-align: center;
    display: none;
}

.close-btn {
    padding: 10px 15px;
}