@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

/* --------------------------------- */

.wrap {
    width: 100%;
}

.top {
    width: 100%;
    height: 650px;
    /* background-color: aquamarine; */
    display: flex;
}

.header {
    width: 200px;
    height: 100%;
    background-color: whitesmoke;
}

.logo a {
    display: block;
    width: 200px;
    padding: 20px 0;
}

.menu-list {
    display: flex;
    flex-direction: column;
}

.menu>a {
    display: block;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
}


.menu {
    text-align: center;
    padding: 7px;
}

.menu:hover>a {
    background-color: skyblue;
}

.sub-menu-list {
    display: none;
}

.sub-menu>a {
    display: block;
    background-color: rgb(210, 255, 240);
    padding: 5px 10px;
}

.sub-menu:hover>a {
    background-color: rgb(107, 236, 171);
}

.main-contents {
    width: calc(100% - 200px);
    height: 100%;
    /* background-color: #333; */
}

.top-contents {
    width: 100%;
    height: 400px;
    display: flex;
}

.slide-sec {
    width: calc(100% - 230px);
    height: 100%;
    /* background-color: aliceblue; */
    overflow: hidden;
}

.slide-wrap {
    width: 300%;
    height: 100%;
    display: flex;
}

.slide {
    display: block;
    width: calc(100% / 3);
    height: 100%;
    position: relative;
}

.slide01 {
    background-image: url("../image/img1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide02 {
    background-image: url("../image/img2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide03 {
    background-image: url("../image/img3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-txt {
    color: white;
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(17, 17, 17, 0.774);
    padding: 20px 35px;
}

.banner-sec {
    width: 230px;
    height: 100%;
    /* background-color: aqua; */
}

.banner-wrap {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgb(194, 194, 255);
}

.banner-img img {
    width: 80%;
}

.banner-txt {
    padding: 10px;
    position: relative;
}

.arrow-img {
    width: 50px;
    position: absolute;
    right: 0;
}


.bottom-contents {
    width: 100%;
    height: 250px;
    display: flex;
}

.bottom-contents>div {
    width: 50%;
}

.notice-sec {
    /* background-color: blueviolet; */
    padding: 30px;
}

.notice-title,
.gallery-title {
    font-size: 18px;
    font-weight: 600;
    display: block;
    background-color: cadetblue;
    padding: 5px 10px;
    width: 100px;
    text-align: center;
    margin-bottom: 10px;
}

.notice-list li>a {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.gallery-sec {
    /* background-color: brown; */
    padding: 20px;
}

.gallery-list {
    display: flex;
    gap: 10px;
}

.gallery-img {
    width: 150px;
    height: 100%;
}

.main-wrap {
    display: flex;
    width: 100%;
    height: 100%;
    /* flex-direction: column; */
}

.footer {
    width: 100%;
    height: 100px;
    background-color: rgb(41, 41, 41);
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.popup {
    width: 450px;
    height: 260px;
    padding: 30px;
    background-color: white;
    border: 1px solid #333;
    display: none;
    position: fixed;
    left: 40%;
    top: 30%;
}

.close-btn {
    padding: 5px 10px;
    margin-top: 10px;
}