@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

.wrap {
    display: flex;
}

.header {
    width: 200px;
    height: 750px;
    background-color: rgb(200, 247, 231);
}

.logo a {
    display: block;
    width: 200px;
    padding: 20px 0;
}

.menu-list {
    display: flex;
    flex-direction: column;
}

.menu>a {
    display: block;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
}


.menu {
    text-align: center;
    padding: 7px;
}

.menu:hover>a {
    background-color: skyblue;
}

.sub-menu-list {
    display: none;
}

.sub-menu>a {
    display: block;
    background-color: rgb(210, 255, 240);
    padding: 5px 10px;
}

.sub-menu:hover>a {
    background-color: rgb(107, 236, 171);
}

.slide-sec {
    width: calc(100% - 430px);
    height: 400px;
    /* background-color: chartreuse; */
    position: absolute;
}

.slide-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.slide {
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.slide01 {
    background-image: url("../image/img1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide02 {
    background-image: url("../image/img2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* display: none; */
}

.slide03 {
    background-image: url("../image/img3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* display: none; */
}

.slide-txt {
    display: block;
    font-size: 30px;
    color: white;
    background-color: black;
    opacity: 0.8;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-content-wrap {
    /* display: flex; */
}

.banner-sec {
    width: 230px;
    height: 400px;
    position: fixed;
    right: 0;
}

.banner-wrap {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgb(194, 194, 255);
}

.banner-img img {
    width: 80%;
}

.banner-txt {
    padding: 10px;
    position: relative;
}

.arrow-img {
    width: 50px;
    position: absolute;
    right: 0;
}

.notice-title {
    font-size: 16px;
    font-weight: 600;
    border: 1px solid navy;
}

.content-wrap {
    width: calc(100% - 200px);
    height: 250px;
    background-color: aqua;
    display: flex;
}

.gallery-list {
    display: flex;
    gap: 10px;
}

.gallery-img {
    width: 100px;
    object-fit: cover;

}

.main-wrap {
    display: flex;
    width: 100%;
    height: 100%;
    /* flex-direction: column; */
}