@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333;
    background-color: #fff;
}

ul,
ol,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1340px;
    margin: 0 auto;
    position: relative;
}

header {
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.logo a {
    display: block;
}

nav {
    position: relative;
    /* width: 2000px; */
    z-index: 10;
}

.menu-list {
    display: flex;
    position: absolute;
    right: 0;
    text-align: center;
    color: #fff;
}

.menu>a {
    background-color: rgb(0, 0, 136);
    display: block;
    padding: 10px 20px;
}

.menu {
    width: 150px;
    /* display: block; */
    height: 100%;
}

.menu:hover>a {
    background-color: #000000;
}

.sub-menu-list {
    display: none;
    color: #333;
}

.sub-menu>a {
    display: block;
    padding: 10px 20px;
    background-color: rgb(245, 245, 245);
}

.sub-menu:hover>a {
    background-color: rgb(221, 221, 221);
}



main {
    /* position: relative; */
    width: 100%;
}

.slide-sec {
    width: 100%;
    height: 350px;
}

.slide-wrap {
    height: 100%;
    width: 100%;
    position: relative;

}

.slide {
    background-image: url("../images/img1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}

.slide01 {
    background: url("../images/img1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide02 {
    background: url("../images/img2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide03 {
    background: url("../images/img3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide a {
    display: block;
    padding: 20px;
    background-color: #000000;
    opacity: 0.9;
    font-size: 32px;
    color: #fff;
    position: absolute;
    top: 10%;
    left: 20%;
}



.main-conts {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 110px;
    transform: translate(-50%, -50%);
    background-color: #eee;
    /* margin: 0 auto; */
}

.direct-sec {
    width: 100%;
    height: 100px;
}

.direct-list {
    display: flex;
    justify-content: space-around;
    background-color: rgb(158, 192, 255);
    padding: 5px;
}

.direct-list li {
    text-align: center;
    display: block;

}

.banner-sec {
    height: 150px;
    width: 100%;
    /* background-color: aqua; */
}

.banner-wrap {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner-img {
    width: 120px;
}

.arrow-img {
    width: 60px;
}


.contents-wrap {
    width: 50%;
    /* background-color: aqua; */
    height: 200px;
}

.tab-menu {
    display: flex;
    gap: 10px;
    font-weight: 600;
    /* padding: 10px; */
}

.tab-menu a {
    display: block;
    padding: 5px 10px;
    background-color: bisque;
}

.tab-menu:active a {
    background-color: aquamarine;
}

.tab-conts {
    background-color: #e4e4e4;
}

.notice-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.notice-list a {
    display: flex;
    justify-content: space-between;
}

.gallery-list li {
    display: flex;
    gap: 10px;
    display: none;
}

.gallery-list img {
    width: 200px;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

footer {
    width: 100%;
    height: 120px;
    background-color: #2e2e2e;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: -450px;
}

.footer-left a {
    display: block;
    padding: 20px;
}

.footer-list {
    display: flex;
    gap: 20px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 20px;
}