@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333;
    background-color: #fff;
}

li,
ol,
ul {
    list-style-type: none;
    ;
}

cursor {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.top {
    display: flex;
    height: calc(100vh - 120px);
    width: 100%;
}

header {
    height: 100%;
    width: 200px;
    background-color: rgb(246, 241, 217);
    display: flex;
    flex-direction: column;
}

.logo a {
    display: block;
    padding: 20px 0;
}

/* .menu-list {
    height: 100%;
    width: 200px;
} */

.menu>a {
    display: block;
    padding: 10px 20px;
    background-color: rgb(246, 97, 52);
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}

.menu:hover>a {
    background-color: #f43813;
}

.sub-menu-list {
    display: none;
}

.sub-menu a {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
}

.sub-menu:hover a {
    background-color: #eed370;
}

.spot-menu-list {
    display: flex;
    gap: 5%;
    text-decoration: underline;
    padding: 10px 20px;
    background-color: lightgray;
}

.conts-wrap {
    display: flex;
}

.main-conts {
    width: 400px;
    height: calc(100vh - 120px);
    /* background-color: rgb(255, 241, 229); */
    display: flex;
    flex-direction: column;
}

.banner-sec {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-img {
    width: 100px;
    height: 200px;
    object-fit: cover;
}

.banner-txt {
    padding: 10px;
    font-size: 12px;
}

.arrow-img {
    width: 50px;
    height: 50px;
    padding: 5px 0;
}

.notice-sec {
    width: 100%;
    padding: 10px;
    background-color: #f3f3f3;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.notice-sec h3 {
    color: #f43813;
    padding: 10px;
}

.notice-list a {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    padding: 5px;
}

.gallery-sec {
    width: 100%;
    height: 220px;
    padding: 10px;
    background-color: #dacfcf;
}

.gallery-sec h3 {
    padding: 10px;
}

.gallery-list {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}

.gallery-sec img {
    padding-top: 20px;
    width: 150px;
    height: 120px;
    object-fit: cover;
}

.direct-sec {
    width: 100%;
    background-color: #f3f3f3;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.direct-list {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
}

.slide-sec {
    width: calc(100vw - 200px - 400px);
    height: 100%;
    background-color: #d17c6a;
    overflow: hidden;
}

.slide-wrap {
    display: flex;
    width: 300%;
    height: 100%;
    /* background-color: #796416; */
}


.slide a {
    display: block;
    padding: 20px;
    background-color: #000000;
    color: #fff;
    font-size: 26px;
    text-align: center;
}

.slide {
    /* position: relative; */
    width: calc(100% / 3);
    height: 100%;
    /* display: block; */
    background-image: url("../images/img1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide01 {
    background-image: url("../images/img1.jpg");
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.slide02 {
    background-image: url("../images/img2.png");
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    /* display: none; */
}

.slide03 {
    background-image: url("../images/img3.png");
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    /* display: none; */
}

.popup-wrap {
    width: 100%;
    height: 100%;
    background-color: #0505056b;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}

.popup {
    background-color: #fff;
    width: 500px;
    height: 300px;
    padding: 50px;
    position: absolute;
    left: 30%;
    top: 30%;
    border-radius: 10px;
}

.popup p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.close-btn {
    font-size: 16px;
    padding: 8px 12px;
}

footer {
    width: 100%;
    height: 120px;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-logo a {
    display: block;
    width: 400px;
    ;
}

.footer-txt {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-list {
    display: flex;
    gap: 20px;
}