@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

cursor {
    cursor: pointer;
}

body {
    color: #333;
    background-color: #fff;
}

ol,
ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1000px;
    height: 650px;
}

header {
    width: 200px;
    height: 100%;
    background-color: beige;
}

.logo a {
    display: block;
    padding: 30px 0;
}

.menu-list {
    text-align: center;
    margin: 10px;
}

.menu {
    position: relative;
}

.menu>a {
    display: block;
    padding: 10px 30px;
    background-color: blanchedalmond;
    width: 180px;
}

.menu:hover>a {
    background-color: rgb(238, 155, 54);
}

.sub-menu-list {
    display: none;
    position: absolute;
    left: 180px;
    top: -40px;
}

.sub-menu>a {
    display: block;
    padding: 10px 30px;
    background-color: burlywood;
    width: 180px;
}

.sub-menu:hover>a {
    background-color: rgb(188, 227, 49);
}

.contents-wrap {
    display: flex;
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
}

.slide-sec {
    width: 800px;
    height: 350px;
    overflow: hidden;
    /* display: block; */
}

.slide-wrap {
    width: 300%;
    height: 100%;
    object-fit: cover;
    display: flex;
}

.slide {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.slide1 {
    background-image: url("../img/img1.png");
}

.slide2 {
    background-image: url("../img/img2.png");
}

.slide3 {
    background-image: url("../img/img3.png");
}

.slide a {
    display: block;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 20px;
    top: 20%;
    left: 10%;
}

.main-conts {
    width: 100%;
    height: 200px;
    display: flex;
}

.notice-sec {
    width: 300px;
    height: 100%;
    font-size: 14px;
    padding: 30px 5px;
}

.notice-list a {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.gallery-sec {
    width: 250px;
    height: 100%;
    padding: 40px 5px;
    background-color: rgb(241, 231, 214);
}

.gallery-list {
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

.gallery-list img {
    width: 70px;
    height: 100%;
    object-fit: cover;
}


.direct-sec {
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/direct.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.direct-sec a {
    background-color: darkorange;
    padding: 8px 12px;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}