@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color: #666;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

.container {
    width: 1340px;
    margin: 0 auto;
}


.header {
    width: 100%;
    height: 100px;
    position: relative;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    background-color: #f0f0f0;
}

.logo a {
    display: block;
    height: 40px;
    margin-bottom: 30px;
}

.menu-list {
    display: flex;
    text-align: center;
}

.menu>a {
    display: block;
    width: 160px;
    padding: 8px 10px;
    background-color: #0a9b97;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.menu:hover>a {
    background-color: #f04467;
}

.menu {
    position: relative;
}

.sub-menu-list {
    position: absolute;
    z-index: 5;
    display: none;
}

.sub-menu>a {
    display: block;
    width: 160px;
    padding: 8px 10px;
    color: #fff;
}

.sub-menu:hover>a {
    background-color: #f04467;
}

.menu-bg {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 4;
    display: none;
}

/* slide  */
.slide-sec {
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.slide-wrap {
    width: 300%;
    height: 100%;
    display: flex;
}

.slide {
    display: block;
    width: calc(100% / 3);
    height: 100%;
}

.slide01 {
    background-image: url("../image/img1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slide02 {
    background-image: url("../image/img2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slide03 {
    background-image: url("../image/img3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slide-txt {
    text-align: center;
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    background-color: #000000d8;
    width: 600px;
    margin: 80px auto 0;
    padding: 15px 0;
}


.main-contents {
    margin-top: -100px;
    position: relative;
}

.direct-sec {
    width: 100%;
    height: 100px;
    background-color: #f0f0f0;
}

.direct-list {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.direct-list li a {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* banner  */

.banner {
    display: flex;
    gap: 15px;
    background-color: #0a9b97;
    color: #fff;
    padding: 15px;
    align-items: center;
    /* justify-content: space-around; */
}

.banner-img img {
    width: 300px;
}

.banner-txt {
    flex-grow: 2;
}

.banner-arrow {
    flex-grow: 0.7;
}

.banner-arrow img {
    width: 30px;
}

/* contents  */
.contents-sec {
    padding-top: 20px;
}

.tab-menu {
    display: flex;

}

.tab-menu li a {
    display: block;
    padding: 8px 15px;
    background-color: #f5f5f5;
}

.tab-menu li.on a {
    background-color: #f04467;
    color: #fff;
    font-weight: 600;
}

.tab-contents {
    background-color: #ffd7df;
    padding: 10px 20px;
    width: 60%;
}

.notice-list li a {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #666;
}

.gallery-wrap {
    display: none;
}

.gallery-list {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.gallery-list li img {
    width: 200px;
}

.gallery-list li:hover img {
    opacity: 0.7;
}

.footer {
    width: 100%;
    height: 120px;
    display: flex;
    background-color: #333;
    color: #f0f0f0;
    align-items: center;
}

.footer-menu {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

.footer-menu li a {
    display: block;
    padding-right: 15px;
    border-right: 1px solid #f0f0f0;
}

.footer-menu li:last-child a {
    border-right: 0;
}

/* popup  */
.popup {
    position: fixed;
    width: 450px;
    padding: 20px;
    border: 1px solid #333;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;

}

.popup p {
    padding: 10px 0;
}

.close-btn {
    padding: 8px 15px;
    float: right;
}